
.create-form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box{

    width: 300px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    box-shadow: 0px 3px 3px gray;
}
::placeholder{
    padding-left: 5px;
}
.title{
    margin: 2rem;
    font-weight: bolder;
}

.detailsNav {
    display: flex;
    float: left;
  }
  
  .detailsNavIcon {
    cursor: pointer;
    position: relative;
    left: 20px;
  }
  .but{
      background-color: white;  
      margin-top: 1rem;
  }