
.create-form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box{

    width: 300px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    box-shadow: 0px 3px 3px gray;
}
::placeholder{
    padding-left: 5px;
}
.title{
    margin: 2rem;
    font-weight: bolder;
}